@inject IInventoryRepository InventoryRepo

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @if (inventories is not null && inventories.Count > 0)
        {
            foreach (var inventory in inventories)
            {
                <InventoryListItemComponent Inventory="inventory" />
            }
        }
    </tbody>
</table>

@code {
    private List<Inventory>? inventories;

    [Parameter]
    public string? SearchInventoryFilter { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        inventories = (await InventoryRepo.GetInventoriesByNameAsync(SearchInventoryFilter ?? string.Empty)).ToList();
    }
}
