@inject IProductRepository ProductRepo
@inject NavigationManager NavManager

@if (Product != null)
{
    <tr>
        <td>@Product.ProductName </td>
        <td>@Product.Quantity </td>
        <td>@Product.Price </td>
        <td>
            <a href="/editproduct/@Product.ProductId" class="btn btn-light">Edit</a>
        </td>
        <td>
            <button class="btn btn-outline-danger" @onclick="async ()=> {await HandleDelete(Product.ProductId);}">Delete</button>
        </td>
    </tr>
}

@code {

    [Parameter]
    public Product? Product { get; set; }

    private async Task HandleDelete(int prodId)
    {
        await ProductRepo.DeleteProductByIdAsync(prodId);
        Product = null;
    }
}
