<SearchInventoriesComponents OnInventorySelected="HandleInventorySelected" />

@if (this.Product is not null && Product.ProductInventories is not null && Product.ProductInventories.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var prodInventory in this.Product.ProductInventories)
            {
                <tr>
                    <td>
                          @prodInventory.Inventory?.InventoryName
                    </td>
                    <td>
                        <input type="number" min="0" @bind-value="prodInventory.InventoryQuantity" />
                    </td>
                    <td>
                        <button type="button" class="btn btn-link" @onclick="()=> RemoveInventory(prodInventory)">Remove</button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
@code {
    [Parameter]
    public Product? Product { get; set; }

    private void RemoveInventory(ProductInventory prodInventory)
    {
        this.Product?.RemoveInventory(prodInventory);
    }

    private void HandleInventorySelected(Inventory inv)
    {
        this.Product?.AddInventory(inv);
    }
}
