@inject IProductRepository ProductRepo
@inject NavigationManager NavManager

@if (Product != null)
{
    <tr>
        <td>@Product.ProductName </td>
        <td>@Product.Quantity </td>
        <td>@Product.Price </td>
        <td>
            <a href="/editproduct/@Product.ProductId" class="btn btn-light">Edit</a>
        </td>
        <td>
            <EditForm Enhance="true" Model="Product" FormName="@($"formDelete{Product.ProductId}")" OnValidSubmit="() => DeleteProduct(Product.ProductId)">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
            </EditForm>
        </td>
    </tr>
}

@code {

    [Parameter]
    public Product? Product { get; set; }

    private async Task DeleteProduct(int invId)
    {
        await ProductRepo.DeleteProductByIdAsync(invId);
        NavManager.Refresh();
    }
}
