@inject IProductRepository ProductRepo

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (products is not null && products.Count > 0)
        {
            foreach (var product in products)
            {
                <ProductListItemComponent Product="product" />
            }
        }
    </tbody>
</table>

@code {
    private List<Product>? products;

    [Parameter]
    public string? SearchProductFilter { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        products = (await ProductRepo.GetProductsByNameAsync(SearchProductFilter ?? string.Empty)).ToList();
    }
}
