@inject IInventoryRepository InventoryRepo
@rendermode InteractiveServer

<div class="input-group">
    <input class="form-control" placeholder="Enter anything to search" @bind-value="this.SearchFilter" @bind-value:event="oninput"/>
    <button type="button" class="btn btn-success input-group-text" @onclick="HandleSearch">Search</button>
</div>
@if(inventories is not null && inventories.Count > 0)
{ 
    <div class="search-filter">
        <ul>
            @foreach(var inv in inventories)
            {
                <li @key="inv.InventoryId">
                    @inv.InventoryName
                </li>
            }
        </ul>
    </div>
}

@code {
    private string _searchFilter;
    private string SearchFilter { 
        get => _searchFilter; 
        set
        {
            _searchFilter = value;
            HandleSearch();
        }
    }
    private List<Inventory> inventories = new List<Inventory>();

    private async Task HandleSearch()
    {
        inventories = (await InventoryRepo.GetInventoriesByNameAsync(this.SearchFilter)).ToList();
        StateHasChanged();
    }

}
