@page "/Account/ManageUsers"
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager

@attribute [Authorize(Policy = "Admin")]

<h3>Manage Users</h3>
<hr/>
@if(users is not null && users.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in users)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>
                        <a href="/account/manageuser/@user.Id" class="btn btn-link">Manage</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [PersistentState]
    public List<ApplicationUser>? users { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        users ??= UserManager.Users.ToList();
    }
}
