@page "/addproduct"
@attribute [Authorize]
@using IMS.WebApp.Components.Controls
@rendermode InteractiveServer

@inject AuthenticationStateProvider AuthStateProvider
@inject IProductRepository ProductRepo
@inject NavigationManager NavManager

<h3>Add Product</h3>

<EditForm Model="product" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Product Name</label>
        <InputText id="name" @bind-Value="product.ProductName" class="form-control" />
        <ValidationMessage For="()=>product.ProductName" />
    </div>
    <div class="form-group">
        <label for="quantity">Quantity</label>
        <InputNumber id="quantity" @bind-Value="product.Quantity" class="form-control" />
        <ValidationMessage For="() => product.Quantity" />
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <InputNumber id="price" @bind-Value="product.Price" class="form-control" />
        <ValidationMessage For="() => product.Price" />
    </div>
    
    <div class="form-group">
        <label>Inventories</label>
        <ProductInventoriesComponent Product="this.product"/>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    &nbsp;
    @* This will not cause a full page reload to the /inventories because of enhance navigation *@
    <a href="/products" class="btn btn-outline-danger">Cancel</a> 
</EditForm>

@code {
    private Product product { get; set; } = new Product();
    private AuthenticationState? authState;

    protected override async Task OnInitializedAsync()
    {
        authState = await AuthStateProvider.GetAuthenticationStateAsync();
    }

    private async Task Save()
    {
        string userName = string.Empty;
        if (authState?.User?.Identity?.IsAuthenticated ?? false)
        {
            userName = authState.User.Identity.Name ?? string.Empty;
            Console.WriteLine(userName);
        }

        await ProductRepo.AddProductAsync(product);
        NavManager.NavigateTo("/products");
    }

}
